nav {
    display: block;
    width: 100%;
  }
  
  nav div {
    display: flex;
    flex: auto;
    row-gap: 15px;
    column-gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  nav div p {
    font-weight: bold;
    font-family: var(--Special_font);
    font-size: var(--paragraph_size);
    cursor: pointer;
  
    border-radius: var(--header_border_radius);
    z-index: 1;
    color: var(--text_color);
    background-color: var(--background_color);
    padding: 5px 10px;
  }
  
  nav .active {
    background-color: var(--link_hover_color);
  }
  
  nav .fallback {
    text-align: center;
    color: var(--background_color);
    font-size: var(--paragraph_size);
    font-family: var(--text_font);
    padding: var(--padding_articles);
  }

.container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 64px;
  }
  
  .container .text_container {
    margin-block: 10px;
    max-width: fit-content;
  }
  
  .container .img_container {
    margin: auto;
    max-height: 300px;
    transition: all 0.2s ease-in-out;
  }
  
  .container:hover {
    transform: scale(1.05);
    background-color: gray;
  }
  
  .container:hover .link_hidden {
    visibility: visible;
  }
  
  .container:hover .img_container {
    transform: scale(1.1);
  }
  
  .link_hidden {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    visibility: hidden;
    color: var(--link_hover_color);
    font-family: var(--Special_font);
    font-size: var(--title_size);
  }
  
  mark {
    background-color: #0a0a0a;
    color: var(--link_hover_color);
    border-radius: 10px;
    align-self: center;
    width: min-content;
    padding-inline: 20px;
  }
  
  @media (max-width: 1030px) {
    .container .img_container {
      max-height: 200px;
      max-width: 100%;
    }
  }

.container, .nuxt-content {
    position: relative;
    width: 60%;
    text-align: justify;
    margin: 25px auto;
    color: var(--text_color);
    background-color: var(--background_color);
    padding: var(--padding_articles);
    border: var(--border_setting);
    border-radius: var(--border_radius);
    -webkit-border-radius: var(--border_radius);
    -moz-border-radius: var(--border_radius);
    transition: var(--transition_setting);
}

.nuxt-content h1, .container h1 {
    font-size: var(--title_size);
    font-family: var(--Special_font);
    text-align: center;
}

.nuxt-content p, .nuxt-content li, .container .text_container {
    font-size: var(--paragraph_size);
    font-family: var(--Base_font);
}

.nuxt-content a {
    text-decoration: underline;
    font-weight: bold;
}

.nuxt-content code {
    overflow-wrap: anywhere;
    display: inline-block;
    background-color: #b3b3b38c;
    border: 3px solid darkgray;
    border-radius: 5px;
    padding-inline: 5px;
    font-weight: bold;
    font-size: calc(0.7 * var(--paragraph_size));
}

.nuxt-content a:hover {
    color: var(--link_hover_color);
}

.nuxt-content h2 {
    margin-top: 50px;
    border-bottom: 1px solid #a2a2a2;
    font-size: calc(1.5 * var(--paragraph_size));
    font-family: var(--Base_font);
}

@media (max-width: 1030px) {
    :root {
        --padding_articles: 40px !important;
        --paragraph_size: 15px !important;
        --title_size: 25px !important;
    }
    .nuxt-content h2 {
        font-size: calc(var(--title_size) - 5px) !important;
    }
}

@media (max-width: 1200px) {
    .container, .nuxt-content {
        width: 70%;
    }
}

@media (max-width: 750px) {
    .container, .nuxt-content {
        width: 93%;
    }
}


.navigation .wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
  }
  
  .navigation span {
    font-weight: bold;
  }
  
  .navigation .a_button, .a_button {
    cursor: pointer;
    color: var(--text_color);
    padding-block: 5px;
    padding-inline: 30%;
    background-color: var(--background_color);
    border: var(--border_setting);
    border-radius: var(--header_border_radius);
  }
  
  .navigation .a_button:hover, .a_button:hover {
      background-color: var(--link_hover_color);
      color: var(--text_color);
  }