$Color_Main: #ff9800;
$Size_Variable: 0px;
$black: black;
$white: white;

$Color_Text: $black;
$Color_Text_BG: $white;
$Color_tr_even: #f2f2f2;
$Color_Body_BG: black;
$Color_Body_Star: white;
$Color_Hover: $Color_Main;
$Font_Special: 'Bungee Shade', cursive;
$Font_Base: 'Roboto Condensed', sans-serif;
$Border_Settings_Wrap: 1px solid #a2a2a2;

$Transition_Setting: all 0.2s ease-in-out;
$Border_Radius_Wrap: 20px;
$Size_Title: 40px;
$Size_Text_Wrap: calc(17px + $Size_Variable);
$Padding_Wrap: 50px;
$Padding_Wrap_Min: 15px;

$Size_Text_Header: 30px;
$Border_Radius_Header: 10px;

$Size_Text_Footer: 25px;

$Size_Text_Slogan: 80px;

$Border_Settings_Button: 2px solid $black;
$Margin_Gap: 25px;