* {
  box-sizing: border-box;
  margin: 0px;
  line-height: 1.6;
}

:root {
  /* General */
  --Color_Main: orange;
  --Size_Variable: 0px;
  --black: black;
  --white: white;

  --Color_Text: var(--black);
  --Color_Text_BG: var(--white);
  --Color_Body_BG: var(--black);
  --Color_Hover: var(--Color_Main);
  --Font_Special: 'Bungee Shade', cursive;
  --Font_Base: 'Roboto Condensed', sans-serif;
  --Border_Settings: 1px solid #a2a2a2;

  /* Wrap */
  --Transition_Setting: all 0.2s ease-in-out;
  --Border_Radius_Wrap: 20px;
  --Size_Title: 40px;
  --Size_Text_Wrap: calc(17px + var(--Size_Variable));
  --Padding_Wrap: 64px;

  /* Header - Footer*/
  --Size_Text_Header: 30px;
  --Border_Radius_Header: 10px;

  --Size_Text_Footer: 25px;

  /* Slogan */
  --Size_Text_Slogan: 80px;

  /* Portali */
  --Nav_color: var(--Color_Main);
  --App_font: 'monospace';
  --app_Border_Settings: 2px solid var(--black);
  --app_Border_Settings_evidence: 3px solid var(--Color_Main);
  --app_row_column_gap: 20px;
}

body,
html {
  min-height: 100vh;
}

a {
  color: var(--Color_Text);
  text-decoration: none;
}
