input[type="radio"] {
  display: none;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 20px !important;
  height: 20px !important;
  margin: -2px 10px 0 0 !important;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: var(--Border_Settings_Button);
}

input[type="radio"]:checked + label {
  font-weight: bold;
}

input[type="radio"]:checked + label span {
  background-color: var(--Color_Main);
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: 1;
  padding: var(--Padding_Wrap);
  transition: all 0.5s ease-out;
  > mark {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    text-align: center;
    font-size: var(--Size_Text_Wrap);
    border: var(--Border_Settings_Wrap);
    border-radius: var(--Border_Radius_Wrap);
  }
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}

.logo {
  height: calc(1.7 * var(--Size_Text_Header));
  width: calc(2.1 * var(--Size_Text_Header));
  cursor: pointer;

  background-color: var(--Color_Main);
  mask: url("/svg/Lampadina_ingranaggi.svg") no-repeat center;
  &:hover ~ a {
    color: var(--Color_Hover);
  }
}

.link_hidden {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  visibility: hidden;
  text-decoration: none !important;
  color: var(--Color_Text) !important;
}

.msg_bg {
  z-index: 1000;
  top: 0px;
  left: 0px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000b0;
  height: 100%;
  width: 100%;

  &.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 500ms, opacity 500ms;
  }
  &.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 500ms;
  }
}

table {
  font-size: var(--Size_Text_Wrap);
  border-collapse: collapse;
  width: 100%;
  th,
  td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  th {
    background-color: var(--Color_Main);
  }
}
