.wrap.portal {
    width: 95%;

}





.o_separator {
    margin-block: 15px;
    border-bottom: var(--app_border_setting);
    width: 80%;
    margin-inline: auto;
}



main {
    display: flex;
    column-gap:  var(--app_row_column_gap);;
    row-gap: var(--app_row_column_gap);
    flex-wrap: wrap;
    flex: auto;
    justify-content: space-between;
}

.portal span {
    content: "\2195";
    padding-inline: 10px;
}

input {
    border: var(--app_border_setting);
    border-radius: var(--header_border_radius);
    width: 100%;
}

table {
    border-spacing: 15px;
    margin-block: 15px;
    margin-inline: auto;
    width: 90%;
    border: var(--app_border_setting_evidence);
    border-radius: var(--header_border_radius);
}

table caption {
    font-weight: bold;
}

button {
    cursor: pointer;
    padding: 10px;
    font-size: var(--app_paragraph_size);
    background-color: var(--Nav_color);
    border-radius: var(--header_border_radius);
    border: var(--app_border_setting);
}

@media (max-width: 1000px) {
    :root {
        --app_title_size: 20px;
        --app_paragraph_size: 15px
    }
}