.wrap.Portale {
    width: 95%;
}

.box,
.result {
    padding: 10px;
    border-radius: var(--Border_Radius_Wrap);
    align-content: center;
    align-items: center;
    justify-content: center;
    > h2 {
        margin-top: 0px !important;
    }
}

.result {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: 20px auto;
    border: var(--app_Border_Settings_evidence);
    * {
        margin: 5px;
    }
}
.box {
    align-self: flex-start;
    border: var(--Border_Settings);
}

.affianca {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: var(--app_row_column_gap);
    row-gap: var(--app_row_column_gap);
}

input,
button,
.button {
    border: var(--app_Border_Settings);
    border-radius: var(--Border_Radius_Header);
    font-family: var(--Font_Base);
    font-size: var(--Size_Text_Wrap);
    margin-inline: auto;
    margin-block: var(--app_row_column_gap);
}

button,
.button {
    // color: var(--Color_Text);
    color: black;

    display: block;
    cursor: pointer;
    padding: 10px;
    background-color: var(--Nav_color);
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    width: fit-content;
    &:hover {
        color: rgb(0, 0, 0, 0.7) !important;
    }
}

@media (max-width: 1030px) {
    .wrap.Portale {
        padding: 10px;
    }
}
