body {
    font-family: var(--App_font);
    text-align: justify;
}

.o_separator {
    margin-block: 15px;
    border-bottom: var(--app_border_setting);
    width: 80%;
    margin-inline: auto;
}

.v_separator {
    border-right: var(--app_border_setting);
    height: 80vh;
    margin-block: auto;
    margin-inline: 15px;
}

nav {
    width: 100%;
    border-radius: var(--header_border_radius);
    border: var(--app_border_setting);
    background-color: var(--Nav_color);
}

nav div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: var(--app_row_column_gap);
}

nav div p {
    cursor: pointer;
    font-size: var(--paragraph_size);
    text-decoration: underline;
    font-weight: bold;
}

nav p {
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    column-gap:  var(--app_row_column_gap);;
    row-gap: var(--app_row_column_gap);
    justify-content: center;
}

.wrap_element {
    display: block;
    overflow-y: auto;
    padding: 10px;
    font-size: var(--app_paragraph_size);
}

h2 {
    font-size: var(--app_subtitle_size);
}

span {
    content: "\2195";
    padding-inline: 10px;
}

input {
    border: var(--app_border_setting);
    border-radius: var(--header_border_radius);
    width: 100%;
}

table {
    border-spacing: 15px;
    margin-block: 15px;
    margin-inline: auto;
    width: 90%;
    border: var(--app_border_setting_evidence);
    border-radius: var(--header_border_radius);
}

table caption {
    font-weight: bold;
}

button {
    cursor: pointer;
    padding: 10px;
    font-size: var(--app_paragraph_size);
    background-color: var(--Nav_color);
    border-radius: var(--header_border_radius);
    border: var(--app_border_setting);
}

@media (max-width: 1000px) {
    :root {
        --app_title_size: 20px;
        --app_paragraph_size: 15px
    }
}