.wrap.Portale {
  width: 95%;
}

.box,
.result {
  padding: 10px;
  border-radius: $Border_Radius_Wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  > h2 {
    margin-top: 0px !important;
  }
}

.result {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  margin: 20px auto;
  border: $Border_Settings_Button;
  border-color: $Color_Main;
  * {
    margin: 5px;
  }
}
.box {
  align-self: flex-start;
  border: $Border_Settings_Wrap;
  margin: calc(0.5 * $Margin_Gap);
}

.affianca {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

input,
button,
.button {
  border: $Border_Settings_Button;
  border-radius: $Border_Radius_Header;
  font-family: $Font_Base;
  font-size: $Size_Text_Wrap;
  margin-inline: auto;
  margin-block: $Margin_Gap;
}

button,
.button {
  // color: $Color_Text;
  color: black;

  display: block;
  cursor: pointer;
  padding: 10px;
  background-color: $Color_Main;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
  width: fit-content;
  &:hover {
    color: rgb(0, 0, 0, 0.7) !important;
  }
}

@media (max-width: 1030px) {
  .wrap.Portale {
    padding: 10px;
  }
}
