.wrap {
  position: relative;
  width: 60%;
  text-align: justify;
  margin: $Margin_Gap auto;
  color: $Color_Text;
  background-color: $Color_Text_BG;
  padding: $Padding_Wrap;
  // box-shadow: $Shadow_Setting;
  border: $Border_Settings_Wrap;
  border-radius: $Border_Radius_Wrap;
  transition: $Transition_Setting;
  font-family: $Font_Base;
  > :first-child {
    margin-top: 0px;
  }
  *:not(h1, h2, .math *, .nuxt-content-highlight *, table *) {
    font-size: $Size_Text_Wrap;
    font-family: $Font_Base;
  }
  h1 {
    font-size: $Size_Title;
    font-family: $Font_Special;
    text-align: center;
  }
  h2 {
    margin-top: 50px;
    border-bottom: 1px solid #a2a2a2;
    font-size: calc(1.5 * $Size_Text_Wrap);
    font-family: $Font_Base;
    text-align: left;
  }
  h3 {
    margin-top: 20px;
    width: fit-content;
    border-bottom: 1px solid #a2a2a2;
    text-align: left;
  }
  a {
    text-decoration: underline;
    font-weight: bold;
    &:hover {
      color: $Color_Hover;
    }
  }
  pre {
    border-radius: $Border_Radius_Header;
    max-width: 100%;
    width: 700px;
    margin-inline: auto !important;
    margin-block: 30px !important;
  }
  .math {
    overflow: auto;
  }
}

@media (max-width: 1200px) {
  .wrap {
    width: 70%;
  }
}

@media (max-width: 1030px) {
  :root {
    --Padding_Wrap: 30px;
    --Size_Text_Wrap: calc(15px + $Size_Variable);
    --Size_Title: 25px;
  }
  .wrap h2 {
    font-size: calc($Size_Title) - 5px;
  }
}

@media (max-width: 750px) {
  :root {
    --Padding_Wrap: 15px;
  }
  .wrap {
    width: 90%;
  }
}
