.wrap {
  position: relative;
  width: 60%;
  text-align: justify;
  margin: 25px auto;
  color: var(--Color_Text);
  background-color: var(--Color_Text_BG);
  padding: var(--Padding_Wrap);
  border: var(--Border_Settings);
  border-radius: var(--Border_Radius_Wrap);
  transition: var(--Transition_Setting);
  font-family: var(--Font_Base);
  > :first-child {
    margin-top: 0px;
  }
  h1 {
    font-size: var(--Size_Title);
    font-family: var(--Font_Special);
    text-align: center;
  }
  h2 {
    margin-top: 50px;
    border-bottom: 1px solid #a2a2a2;
    font-size: calc(1.5 * var(--Size_Text_Wrap));
  }
  * {
    font-size: var(--Size_Text_Wrap);
    font-family: var(--Font_Base);
  }
  a {
    text-decoration: underline;
    font-weight: bold;
    &:hover {
      color: var(--Color_Hover);
    }
  }
  pre {
    border-radius: var(--Border_Radius_Header);
  }
}

@media (max-width: 1030px) {
  :root {
    --Padding_Wrap: 30px;
    --Size_Text_Wrap: calc(15px + var(--Size_Variable));
    --Size_Title: 25px;
  }
  .wrap h2 {
    font-size: calc(var(--Size_Title) - 5px);
  }
}

@media (max-width: 1200px) {
  .wrap {
    width: 70%;
  }
}

@media (max-width: 750px) {
  .wrap {
    width: 90%;
  }
}
